
:root {
    --color1-blue: #122a4d;
    --color2-blue: #2566c8;
    --color3-blue: #2399dd;
  }

.photo_gallery {
    display: flex;
    flex-direction: column;

}

.gallery-container {
    display: flex;
    flex-direction: row;
    margin: 0 2em;
    justify-content: space-between;
}

.gallery-container:nth-of-type(even) {
    flex-direction: row-reverse;
}

.gallery-column_small {
    display: flex;
    flex-direction: column;
    width: 29.5%; 
    justify-content: space-between;
}

.gallery-row_large {
    width: 69.5%; 
}

.photo-container {
    display: flex;
    flex-direction: column;
}


.photo-container h3 {
    font-size: 1em;
    text-align: center;
    height: 10px;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 4em;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
}

.modal-content {
    position: relative;
    margin: auto;
    width: 100%;
    max-width: 1100px;
}

.close-button {
    color: white;
    display: inline;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

.close-button:hover, .close-button:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}


.mySlides {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0; 
}

.caption-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: black;
    justify-content: center;
    font-size: 1.5em;
    color: white;
}

.caption-container p {
    color: white;
}


.photo-preview {
    display: flex;
    flex-direction: row;
    width: 20%;
    background-color: black;
}

.demo {
    background-color: black;
    justify-content: center;
}

img.demo {
    opacity: 0.4;
}

.active, .demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



