
@import "compass/css3";
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Playfair+Display:wght@900&family=Roboto&display=swap');

:root {
  --color1: #1B262C;
  --color2:#0F4C75;
  --color3: #3282b8;
  --color4: #bbe1fa;
  --accent1: #5e0000;
  --accent2: #b67929;
  --background: white;
  --font-main: 'Playfair Display', serif;
  --font-secondary: 'Roboto', sans-serif;
  --font-quote: 'Architects Daughter', cursive;
}



  html {
    font-size: 62.5%;
    overflow-x: hidden;
    margin: 0;
    
  }

  body {
      max-width: 100%;
      height: 100%;
      margin: 0;
      font-size: 12px;
  }

  .main_page {
    background-image: URL(Photos/background.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .homepage {
    max-width: 100%;
    height: 100%;
    margin: 0;
    overflow-y: hidden;
    
  }

  h1 {
    color:#000;
    font-style: Bold;
    font-family: var(--font-main);
    text-align: center;
    font-size: 3em;
  }

  h2 {
    color: var(--color2);
    font-style: italic;
    font-family: var(--font-main);
    text-align: left;
    font-size: 24px;
  }

  p {
    font-family: var(--font-secondary);
    color:black;
    font-size: 12px;
  }

  .desktop {
      display: flex;
      flex-direction: column;

  }


.mobile {
    display: none;
}


.page-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: Var(--background);
  backdrop-filter: opacity(10%);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.19),
  0 10px 10px rgba(0, 0, 0, .5);
}


.page-header-name {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.page-header-name h1 {
  margin: 0 3px;
  width: fit-content;
  color: var(--color3);

}

.page-header-name ::first-letter {
  font-size: 2em;
  color: var(--color2);

  }

  
.line {
  margin-bottom: 2px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.color-1 {
  background-color: var(--color1);
  height: .75em;
}

.color-2 {
    background-color:var(--color2);
    height: .75em;
    width: 100%;
  }

.color-3 {
  background-color: var(--color3);
  height: .75em;
}

.white-line {
  background-color: var(--background);
  height: .4em;
}

.color-4 {
  background-color: var(--color4);
  height: .75em;
}

.front-page-photo {
    margin: 1em auto;
}

.front-page-photo img {
  margin: 20px 0 0 0;
  padding: 0;
  width: 100%;
  height: auto;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.19),
  0 10px 10px rgba(0, 0, 0, .5);
}


.topnav {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  text-align: center;
  flex-direction: row;
  justify-content: center;

  background-color: var(--color3);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.19),
  0 10px 10px rgba(0, 0, 0, .5);
}

  /* Style the links inside the navigation bar */
  .topnav a, .dropdown {
    position: relative;
    color: white;
    text-decoration: none;
    font-family: var(--font-secondary);
    font-size: 24px;
    text-align: center;
    margin: 6px;
    padding: 0 12px;
 
  }


  /** CREATE GALLERY DROPDOWN IN NAVIGATION 

.dropdown, .dropdown-button {
  position: relative;
  display: inline-block;
  background-color: inherit;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  border: none;
  color: white;
}
**/

.topnav a:hover, .dropdown:hover .dropdown-button {
  background-color: var(--accent1);
    color: white;
}


.dropdown-links {
  display: none;
  position: absolute;
  background-color: white;
  min-width: max-content;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border: 1px solid black;
}

.dropdown-links a {
  color: var(--color1);
  font-size: 1em;
  font-family: var(--font-secondary);
  text-decoration: none;
  display: block;
  text-align: left;
  margin: 2px;
}

.dropdown-links a:hover {
  background-color: var(--accent1);
}

.dropdown:hover .dropdown-links {
  display: block;
}




    /*Add blockquote to frontpage*/
    .testimonial-quote, .testimonial-quote-left, .testimonial-quote-right {
      display: flex;
      flex-direction: row wrap ;
      margin-top: 2em;
  }
  
  .testimonial-quote blockquote, .testimonial-quote-left, .testimonial-quote-right {
      /* Negate theme styles */
      border: 0;
      padding: 0;
      background: none;
      color: var(--color2);
      font-style: italic;   
      line-height: 1 ;
      position: relative;
      z-index: -600;
      opacity: 90%;
  }
  
  .testimonial-quote blockquote *, .testimonial-quote-left blockquote *, .testimonial-quote-right blockquote * {
      box-sizing: border-box; 
      width: 100%;
      margin: 0;
  }
  
  .testimonial-quote blockquote p, .testimonial-quote-left blockquote p, .testimonial-quote-right blockquote p {
      color: var(--accent1); 
      line-height: 1.2 ;
      font-size: 50px;
      font-weight: bold;
      font-family: var(--font-quote);
      opacity: .9;
      }
      
  
  
  .testimonial-quote blockquote p:first-child:before, .testimonial-quote-left blockquote p:first-child:before {
      content: '\201C';
      color: var(--color3); 
      font-size: 5em;
      font-weight: 700;
      opacity: .3;
      position: absolute;
      top: -.3em;
      left: .2em;    
      text-shadow: none;
      z-index: -300;
      font-family: Georgia, serif;
  }

  .testimonial-quote blockquote p:last-child:after, .testimonial-quote-right blockquote p:first-child:before {
    content: '\201D';
    color: var(--color3); 
    font-size: 5em;
    font-weight: 700;
    opacity: .3;
    position: absolute;
    top: -.3em;
    right: .2em;    
    text-shadow: none;
    z-index: -300;
    font-family: Georgia, serif;
}



/* ABOUT ME SECTION */
.aboutme-page {
  color: black;
   display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 2em;
}

.aboutme-page h2 {
  font-size: 3.5rem;
  text-align: center;
  margin: 0;
  color: var(--color2);

}

.aboutme-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.aboutme_photos {
  margin: 1em;
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.19),
  0 10px 10px rgba(0, 0, 0, .5);
}

.aboutme_quote {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  margin: 0;
}

.aboutme_text {
  width: 80%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-right: 1em;
}

.aboutme p {
  color: var(--color1);
  font-size: 2rem;
}

.aboutme p:first-letter {
  margin-left: 12px;
  font-size: 1.6em;
  font-weight: bolder;
}


.blog_page {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
  align-items: center;
}



.blog_page img {
  display: block;
  margin: auto;
  max-width: min-content;
  padding-top: 1em;
}

.blog_page h2 {
  font-size: 3.5rem;
  text-align: center;
  margin: 0;
}


.blog_post p {
  text-overflow: wrap;
  max-width: 1000px;
  margin: auto;
  font-size: 2rem;

}

.blog_quote {
  display: flex;
  flex-direction: column;
  width: 69%;
  align-content: center;
  margin: 0;
  padding: 0;
}

.blog_quote-left {
  display: flex;
  justify-content: flex-start;
  margin-top: 40px;
  padding: 0;

}

.blog_quote-right {
  display: flex;
  justify-content: flex-end;
  vertical-align: text-top;
  margin: -60px 0 0 0;
  padding: 0;
}

  
 .blog_quote p {
   margin: 0;
 } 


@media screen and (max-width: 768px) {
  .mobile {
      display: block;
  }
  .desktop {
      display: none;
  }

  body {
      margin: 0;
      padding: 0;
  }

  .main_page {
    background-image: none;
  }

  .homepage {
    background-image: none;
    overflow-y: scroll;
  }

  .front-page-photo {
      position: relative;
      text-align: center;
      margin: 0;
  }
 
  .front-page-photo img {
  box-shadow: none;
  margin: 2px auto;
  }

  .front-page-photo h2 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      width: fit-content;
      }


  .front-page-photo img:hover {
      box-shadow: 0 15px 30px rgba(0, 0, 0, 0.19),
      0 10px 10px rgba(0, 0, 0, .5);
  }

  .topnav {
    margin-bottom: 16px;
  }

.dropdown-menu, .dropdown-button-menu {
  position: relative;
  font-family: var(--font-secondary);
  font-size: 24px;
  border: none;
  color: white;
}

.topnav a:hover, .dropdown-menu:hover {
  background-color: var(--accent1);
  color: white;
}

.dropdown-links-menu {
  display: none;
  position: absolute;
  background-color: white;
  min-width: max-content;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border: 1px solid black;
}

.dropdown-links-menu a {
  color: black;
  font-size: 1.5em;
  text-decoration: none;
  display: block;
  text-align: left;
  margin: 6px;
}

.dropdown-links-menu a:hover {
  background-color: var(--accent1);
}

.dropdown-menu:hover .dropdown-links-menu {
  display: block;
}

.dropdown-links a {
  font-size: 12px;
}

.aboutme-content {
  flex-direction: column;
}




.aboutme_photos {
  margin: 0;
  max-width: 100%;
  border: none;
  box-shadow: none;
}

.aboutme_text {
  margin-right: 0;
  margin-left: 12px;
  max-width: 90%;
}

.testimonial-quote {
  margin-top: .5em;
}

.blog_quote {
  width: 100%;
}

.blog_page img {
  width: 100%;
}

.blog_quote-right {
  margin: 0;
}

    /*Add blockquote to frontpage*/
    .testimonial-quote, .testimonial-quote-left, .testimonial-quote-right {
      display: flex;
      flex-direction: row wrap ;
      margin-top: .5em;
  }
  
  .testimonial-quote blockquote *, .testimonial-quote-left blockquote *, .testimonial-quote-right blockquote * {
      margin: 0;
  }
  
  .testimonial-quote blockquote p, .testimonial-quote-left blockquote p, .testimonial-quote-right blockquote p {
      
      font-size: 3rem;
      margin: 0;
      }
      
      /**
      .testimonial-quote blockquote p:last-child:after,  .testimonial-quote blockquote p:first-child:before {
        display: none;
      }
  **/



}
